<% provide(:title, "Welcome") %>
<h1>Strona główna</h1>
<p>Witaj na stronie głównej</p>
<p><%= get_season() %></p>
<p><%= get_random_number(100) %></p>
<p><%= get_random_welcome() %></p>
<p><%= count_to_10() %></p>
