/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
a:hover {
    color: #007ebd;
    background-color: #FFF;
}

body {
    background: #C9FFE5;
}

#wrapper {
    margin: auto;
    background: white;
    width: 820px;
    height: 2000px;
}

header {
    display: block;
    padding: 10px 10px 30px 10px;
}

header a:hover {
    background-color: black;
}

.websiteLogo {
    float: none;
    text-decoration: none;
    background-color: black;
}

#horzNav {
    display: block;
    padding: 10px 20px 10px 10px;
    background: black;
}

#horzNav a {
    text-decoration: none;
    padding: 0px 0px 0px 20px;
    font-weight: bold;
    color: white;
}

#horzNav a:hover {
    background-color: black;
    color: #007ebd;
}

main {
    padding: 10px 20px 10px 150px;
}

#vert-nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1.7em;
  width: 80px;
}
 
#vert-nav ul li a{
  text-decoration: none;
  color: #00647D;
}



#wrapper.toggled {
    padding-left: 250px;
}



#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}



#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {


    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}